body{
   /* background-image: url("../images/cool-background.jpg"); */
    position: relative;
    background-color: white;
    background-size: cover;
}
ul, li {
    list-style:none;
    padding:0;
    margin:0;
}
a {text-decoration:none;}

.profile-wrapper {
    width:200px;
    position: fixed;
    margin:-10px auto;
    padding-left: 86%;
}
.profile-wrapper::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 10px;
    border-color: #333 transparent transparent;
    border-width: 6px;
    border-style: solid;
}
.profile-wrapper::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 10px;
    border-color: #eee transparent transparent;
    border-width: 6px;
    border-style: solid;
}
.profile-wrapper:hover::after {
    border-color: #111 transparent transparent;
}

.profile {
    padding:10px;
    border:1px solid #000;
    border-radius:3px;
    box-shadow:0 1px 0 #555 inset, 0 1px 7px #111;
    background:-webkit-linear-gradient(#222, #111);
}
.profile:hover {
    cursor:pointer;
    background:-webkit-linear-gradient(#1f1f1f, #0a0a0a);
}
.profile .name {
    font-size:12px;
    color:#fff;
    line-height:26px;
    margin-left:10px;
}
.profile:hover .name {
    color:#0088cc;
}
.profile img {
    width:25px;
    display:inline;
    float:left;
    border:1px solid #111;
    border-radius:3px;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;
}
/* hide menu */
.menu {
    display:none;
    clear:both;
    margin:20px 0 0 0;
}
.menu li {
    font-size:12px;
    margin:10px 0 0;
}
.menu li a {
    color:#555;
}

.menu li a:hover {
    color: #0088cc;
}

.horizontal_menu{
    display: none;
    color: #0088cc;
    background-color: black;
}

.menu li a:focus~.horizontal_menu,
.horizontal_menu:hover{
    display: block;
}

.horizontal_menu ul li:hover{
    color:#0088cc;
}

/* hover profile show menu */
.profile:hover .menu {
    display:block;
}

.button1 {
    color: black;
    border: 2px solid #f44336;
    padding: 10px;
    margin-left: 44%;
    border-radius: 50%;
}

.button1:hover {
    background-color: #f44336;
    color: white;
    padding: 12px;
}

.button2 {
    color: black;
    border: 2px solid green;
    padding: 10px;
    border-radius: 50%;
}

.button2:hover {
    background-color: green;
    color: white;
    padding: 12px;
}

.button3 {
    color: black;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 50%;
}

.button3:hover {
    background-color: blue;
    color: white;
    padding: 12px;
}

.button1:active {
    font-size: 80%;
}

.button2:active {
    font-size: 80%;
}

.button3:active {
    font-size: 80%;
}

#settings {
    position: relative;
    width: 240px;
    height: 200px;
    z-index: 15;
    margin-right: 50px;
    margin-left: 460px;
}

.navUL {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    background-color: #222;
    border-radius: 50%;
    background:-webkit-radial-gradient(center, circle, black 28%,white 110%);
    box-shadow:rgb(110,110,33) 0px 0px 13px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    transition: width 0.5s;
}

@media screen and (max-width: 800px) {
    .navUL {
        width: 90vw;
    }
}

.navLi {
    float: left;
    text-align: center;
}

.navLi a, .dropbtn {
    display: inline-block;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
}

.navLi a:hover, .dropdown:hover .dropbtn {
    border-radius: 50%;
    background-color: #0088cc;
    background:-webkit-radial-gradient(center, circle, #0088cc 95%,black 110%);
    -webkit-border-radius:50%;
    -webkit-box-shadow:rgb(110,110,110) 0px 0px 20px;
}
.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}
.the_footer {
    clear:both;
    text-align: right;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
}
.navUL {
    margin-left: 33%;
    margin-right: 38.9%;
}
.w3-btn {margin-bottom:10px;}
.button{
    display: inline-block;
    line-height: 40px;
    /*width: 10vw;
    height: 300px; */
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-top: 2%;
    margin-left: 24%;
   /* margin-right: 1500px; */
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
article .author {
    margin-bottom: 0;
}
article .author  {
    display: block;
    font-size: 100%;
    line-height: 1.42857143;
    color: #b4bcc2;
}
article .author  {
    content: '\2014 \00A0';
}
.pull-right {
    float: right !important;
}
.btn1 {
    border-width: 2px;
}
.btn1:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn1-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
table a:not(.btn),
.table a:not(.btn) {
    text-decoration: underline;
}

.article_position{
    position: relative;
    padding: 10px;
    left: 5%;
    right: 1%;
    width: 70%;
    height: 50%;
    overflow: hidden;
}
.sidebar-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0; padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, black);
}
.centered {
    display: flex;
    position: relative;
}