<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="css/test.css">
</head>

<body>
<div class="nav-container-outer">
    <img src="images/nav-bg-l.jpg" alt="" class="float-left" />
    <img src="images/nav-bg-r.jpg" alt="" class="float-right" />
    <ul id="nav-container" class="nav-container">
        <li><a class="item-primary" href="#">HOME</a>
        </li>

        <li><span class="divider divider-vert" ></span></li>
        <li><a class="item-primary" href="#">Products</a>

            <ul style="width:150px;">
                <li><a href="#">SoftwarePlus</a></li>
                <li><a href="#">MagicDriver</a></li>
                <li><a href="#">GreatFX</a></li>
                <li><a href="#">SampleSoft</a></li>
                <li><a href="#">UnDoIt</a></li>
                <li><a href="#">100% CSS Menu</a></li>
                <li><a href="#;">With Cross-Browser</a></li>
                <li><a href="#;">Dropdowns</a></li>
                <li><a href="#;">Absolutely NO Javascript</a></li>
                <li><a href="#;">Being Used On</a></li>
                <li><a href="#;">These Menus</a></li>
                <li><span class="divider divider-horiz" ></span></li>
                <li><a href="#;">Example Of a Divider</a></li>
                <li><a href="#;">With No Title</a></li>
            </ul></li>

        <li><span class="divider divider-vert" ></span></li>
        <li><a class="item-primary" href="#">Quality</a>

            <ul style="width:150px;">
                <li><a href="#">SoftwarePlus</a></li>
                <li><a href="#">MagicDriver</a></li>
                <li><a href="#">GreatFX</a></li>
                <li><a href="#">SampleSoft</a></li>
                <li><a href="#">UnDoIt</a></li>
                <li><a href="#">100% CSS Menu</a></li>
                <li><a href="#;">With Cross-Browser</a></li>
                <li><a href="#;">Dropdowns</a></li>
                <li><a href="#;">Absolutely NO Javascript</a></li>
                <li><a href="#;">Being Used On</a></li>
                <li><a href="#;">These Menus</a></li>
                <li><span class="divider divider-horiz" ></span></li>
                <li><a href="#;">Example Of a Divider</a></li>
                <li><a href="#;">With No Title</a></li>
            </ul></li>

        <li><span class="divider divider-vert" ></span></li>
        <li><a class="item-primary" href="#">Services</a>

            <ul style="width:150px;">
                <li><span class="item-secondary-title" >Title For Links</span></li>
                <li><a href="#">These Links Still Appear</a></li>
                <li><a href="#">Just Like The Others</a></li>
                <li><a href="#">Even When Under A Title</a></li>
                <li><span class="divider divider-horiz" ></span></li>
                <li><span class="item-secondary-title" >Title After Divider</span></li>
                <li><a href="#">Once Again...</a></li>
                <li><a href="#">These Links Still Appear</a></li>
                <li><a href="#">Just Like The Others</a></li>
                <li><a href="#">Even When Under A Title</a></li>
            </ul></li>

        <li><span class="divider divider-vert" ></span></li>
        <li><a class="item-primary" href="#;">Very Long Item</a>

            <ul style="width:150px;">
                <li><span class="item-secondary-title" >Title For Links</span></li>
                <li><a href="#">These Links Still Appear</a></li>
                <li><a href="#">Just Like The Others</a></li>
                <li><a href="#">Even When Under A Title</a></li>
                <li><span class="divider divider-horiz" ></span></li>
                <li><span class="item-secondary-title" >Title After Divider</span></li>
                <li><a href="#">Once Again...</a></li>
                <li><a href="#">These Links Still Appear</a></li>
                <li><a href="#">Just Like The Others</a></li>
                <li><a href="#">Even When Under A Title</a></li>
            </ul></li>

        <li><span class="divider divider-vert" ></span></li>
        <li><a class="item-primary" href="#;">Fully Flexible</a>

            <ul style="width:150px;">
                <li><span class="item-secondary-title" >Title For Links</span></li>
                <li><a href="#">These Links Still Appear</a></li>
                <li><a href="#">Just Like The Others</a></li>
                <li><a href="#">Even When Under A Title</a></li>
                <li><span class="divider divider-horiz" ></span></li>
                <li><span class="item-secondary-title" >Title After Divider</span></li>
                <li><a href="#">Once Again...</a></li>
                <li><a href="#">These Links Still Appear</a></li>
                <li><a href="#">Just Like The Others</a></li>
                <li><a href="#">Even When Under A Title</a></li>
            </ul></li>
        <li class="clear"> </li></ul>
</div>
</body>
</html>
