 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/communities.css">
    <title>My Events</title>
    <div id="profile div">
        <ul class="profile-wrapper">
            <li>
                <div class="profile">
                    <a href ="../home/index.html" class="name">UserExample</a>
                    <ul class="menu">
                        <li><a href="MyProfile.html">My profile</a></li>
                        <li><a href="Settings.html">Settings</a></li>
                        <li><a href="SelfImprove.html">Selfimprove tool</a></li>
                        <li><a href="LoggedOut.html">Log out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</head>

<body>


<div id="contents">
    <a href="Entertainment.html"><button class="button button1"></button></a>
    <a href="Mutual%20Help.html"><button class="button button2"></button></a>
    <a href="science.html"><button class="button button3"></button></a>
</div>

<div id="navMyProfile">
    <ul class="navUL">
        <li class="navLi"><a href="interests.html">Interests</a></li>
        <li class="navLi"><a href="myEvents.html">My Events</a></li>
        <li class="navLi"><a href="myVideos.html">My videos</a></li>
    </ul>
</div>
<div class="event">
    <a href ="#" class="name">Would you like to start an event?</a>
    <ul class="menu">
        <li>
            <a href="#">Event Type</a>
            <div class="horizontal_menu">
                <ul>
                    <a href="../MyProfile/interests.html"><li>Interests</li></a>
                    <a href="../MyProfile/myEvents.html"><li>My events</li></a>
                    <a href="../MyProfile/myVideos.html"><li>My videos</li></a>
                </ul>
            </div>
        </li>
        <li>
            <a id="page_settings" href="#">Settings</a>
            <div class="horizontal_menu" hidden>
                <ul>
                    <a href="../settings/ChangePassword.html"><li>Change password</li></a>
                    <a href="../settings/ChangeUsername.html"><li>Change username</li></a>
                    <a href="../settings/ChangeImage.html"><li>Change image</li></a>
                </ul>
            </div>
        </li>
        <li><a id="page_self_improve_tool" href="../myProfile/SelfImprove.html">Selfimprove tool</a></li>
        <li><a id="page_logout" href="#">Log out</a></li>
    </ul>
</div>

</body>
</html>
