<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/communities.css">
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <title>Our Team</title>
</head>
<style>
    img {
        border-radius: 50%;
        width: 15vw;
        height: 10vw;
    }

    p.groove {
        border-style: groove;
    }
</style>


<header>
    <center>
        <h1 class="header"><em>Social Megazord Team:</em></h1>
    </center>
</header>



<body background="~/Content/Images/3.jpg">
    @Html.ActionLink("Back","Index","Home",null,new {@class="submitButtons" })
    <a href="https://www.facebook.com/ani.anastasova.5" target="_blank">
        <img src="~/Content/Images/annie.jpg" class="myImage" style="width:304px;height:228px; padding-top: 20px;
    padding-right: 20px; margin-left: 100px;">
    </a>
    <a href="https://www.facebook.com/alovbg?fref=ts" target="_blank">
        <img src="~/Content/Images/bogi.jpg" class="myImage" style="width:304px;height:228px; padding-top: 20px;
    padding-right: 20px; margin-left: 60px;">
    </a>
    <a href="https://www.facebook.com/sasho.avramow?fref=ts" target="_blank">
        <img src="~/Content/Images/aleks.jpg" class="myImage" style="width:304px;height:228px; padding-top: 20px;
    padding-right: 20px; margin-left: 60px;">
    </a>
    <a href="https://www.facebook.com/profile.php?id=100002343396522&fref=ts" target="_blank">
        <img src="~/Content/Images/ivo.jpg" class="myImage" style="width:304px;height:228px; padding-top: 20px;
    padding-right: 20px; margin-left: 100px;">
    </a>
    <a href="https://www.facebook.com/radostinnaa?fref=ts" target="_blank">
        <img src="~/Content/Images/radost.jpg" class="myImage" style="width:304px;height:228px; padding-top: 20px;
    padding-right: 20px; margin-left: 60px;">
    </a>
    <a href="https://www.facebook.com/hristian.yanew.7?fref=ts" target="_blank">
        <img src="~/Content/Images/hristian.jpg" class="myImage" style="width:304px;height:228px; padding-top: 20px;
    padding-right: 20px; margin-left: 60px;">
    </a>

    




    <script src="scripts/backgroundChange.js"></script>

    <footer>

        <div class="the_footer2">
            <h3>© 2016 - SocialMegazord inc.</h3>
        </div>
    </footer>
</body>


</html>